@page
@model WebApp.Pages.TipoInquilino.GridModel
@{
    ViewData["Title"] = "Tipo Inquilino";

}


<div class="container-fluid">
    <div class="card">
        <br />
        <div class="card-header">Tipo de Inquilinos</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-stripped table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridList)
                            {
                                <tr>
                                    <td>@item.Id_TipoInquilino</td>
                                    <td>@item.Descripcion</td>
                                    <td>@(@item.Estado == true ? "Activo" : "Inactivo")</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="TipoInquilinoGrid.OnClickDelete(@item.Id_TipoInquilino)">
                                            <i class="bx bx-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{ 
    @*Gets the message from the Grid.cs*@
    <script>
        var MessageApp = "@Html.Raw(Model.Message)";
    </script>

    <script defer src="~/App/TipoInquilino/Grid.js"></script>
}